# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.env/

# Ignore Parquet files
*.parquet

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
